.w-10 {
	width: 10% !important;
}
.navigation-icons {
	width: 6rem;
	padding: 0 .5rem;
}
.navigation-icons+figcaption {
	font-size: .7rem;
}
.brand-logo img {
	//max-width: 200px !important;
}
.search-form {
	width: 0px !important;
}
.animation-r-to-left {
	-webkit-transition: width .2s ease-out !important;
	-moz-transition: width .2s ease-out !important;
	-ms-transition: width .2s ease-out !important;
	-o-transition: width .2s ease-out !important;
	transition: width .2s ease-out !important;
	width: 0% !important;
}
.animation-r-to-left.vi {
	width: 100% !important;
}
.fa-shopping-bag + .badge {
	position: absolute;
	margin-left: -0.1rem;
	top: -0.3rem;
	//right: .5rem;
	@media screen and (max-width: 992px) {
		top: 0.3rem;
		margin-left: -0.3rem;
	}
}
.head-menu-item i {
	font-size: 80px;
}
.head-menu-caption {
	font-size: .7rem;
}
.side-nav .icon-sadcart {
	font-size: 4rem !important;
}
.sofont .head-menu-item i {
	font-size: 60px !important;
}
.sofont a {
	line-height: 1!important;
	height: auto !important;
}