.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after,
.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after {
	background-color: $gold;
}
.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after {
	border: 2px solid $gold;
}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
	border-right: 2px solid $gold;
	border-bottom: 2px solid $gold;
}
.text-primary {
	color: $gold!important;
}
.border-b-transparent {
	border-bottom: 1px solid $transparentlight !important;
}
.carousel-indicators .active {
	background-color: $gold;
}
.carousel-indicators li {
	width: .6rem !important;
	height: .6rem !important;
	border-radius: .3rem !important;
}
.carousel-caption {
	text-align: left;
}
.btn-primary {
	background-color: $gold !important;
	border-color: $gold !important;
	color: $white !important;
}
.btn-outline-primary {
	color: $gold !important;
	background-color: transparent;
	background-image: none;
	border-color: $gold !important;
}
.btn-secondary {
	background-color: $dark !important;
	border-color: $dark !important;
	color: $white !important;
}
.bg-primary a.btn-outline-secondary,
.btn-outline-secondary {
	color: $dark !important;
	background-color: transparent;
	background-image: none;
	border-color: $dark !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:focus,
.btn-primary.dropdown-toggle:hover
{
	background-color: $gold !important;
	border-color: $gold !important;
	color: $white !important;
	opacity: 0.85;
}
.btn-primary.dropdown-toggle {
	background-color: $gold !important;
}
.btn-outline-primary:hover {
	color: $white;
	background-color: $gold;
	border-color: $gold;
}
.bg-primary .btn-outline-secondary:hover,
.btn-outline-secondary:hover {
	color: $white !important;
	background-color: $dark !important;
	border-color: $dark !important;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
	background-color: $dark !important;
	border-color: $dark !important;
	color: $white !important;
	opacity: 0.85;
}
.side-nav a.btn {
	line-height: 1.5rem !important;
	max-height: 2rem;
}
.navbar-toggler {
	border: none;
	border-radius: none;
	color: $gold !important;
}
.navbar-toggler-icon {
	background-image: none !important; 
}
.btn-primary.focus,
.btn-primary:focus,
.btn.focus,
.btn:focus,
.btn.active,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.alert-primary {
	color: $white;
	background-color: $gold;
	border-color: $gold;
}
.alert-primary:hover {
	color: $white;
	background-color: $lightgold;
	border-color: $lightgold;
}
/*input,
select,
textarea {
	border-radius: 0 !important;
}*/
.md-form.md-outline input[type=date]:focus:not([readonly]), .md-form.md-outline input[type=datetime-local]:focus:not([readonly]), .md-form.md-outline input[type=email]:focus:not([readonly]), .md-form.md-outline input[type=number]:focus:not([readonly]), .md-form.md-outline input[type=password]:focus:not([readonly]), .md-form.md-outline input[type=search-md]:focus:not([readonly]), .md-form.md-outline input[type=search]:focus:not([readonly]), .md-form.md-outline input[type=tel]:focus:not([readonly]), .md-form.md-outline input[type=text]:focus:not([readonly]), .md-form.md-outline input[type=time]:focus:not([readonly]), .md-form.md-outline input[type=url]:focus:not([readonly]), .md-form.md-outline textarea:focus:not([readonly]) {
	border-color: $gold;
	-webkit-box-shadow: inset 0 0 0 1px $gold;
	box-shadow: inset 0 0 0 1px $gold;
}
.md-form .prefix.active, .md-form textarea~label.active, .md-form.md-outline input[type=date]:focus:not([readonly])+label, .md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label, .md-form.md-outline input[type=email]:focus:not([readonly])+label, .md-form.md-outline input[type=number]:focus:not([readonly])+label, .md-form.md-outline input[type=password]:focus:not([readonly])+label, .md-form.md-outline input[type=search-md]:focus:not([readonly])+label, .md-form.md-outline input[type=search]:focus:not([readonly])+label, .md-form.md-outline input[type=tel]:focus:not([readonly])+label, .md-form.md-outline input[type=text]:focus:not([readonly])+label, .md-form.md-outline input[type=time]:focus:not([readonly])+label, .md-form.md-outline input[type=url]:focus:not([readonly])+label, .md-form.md-outline textarea:focus:not([readonly])+label {
	color: $gold;
}
.list-group-item.active {
	background-color: $gold;
	border-color: $grey;
}
.nav-tabs {
	@include bordercolor($lightgrey, 0px);
	background-color: $white;
}
.nav-tabs .nav-link {
	@include bordercolor($lightgrey, 0px);
	@include topborder($lightgrey);
	color: $elegant;
	border-radius: 0px;
	background-color: $white;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	@include bordercolor($lightgrey, 0px);
	@include topborder($gold);
	color: $elegant;
	border-radius: 0px;
	background-color: $lightgrey;
}
#textiles-content,
.tab-content {
	background-color: $lightgrey;
}
.border-primary {
	border-color: $gold !important;
}
.card,
.card-img-top {
	border-radius: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before,
{
	background-color: $gold !important;
}
.custom-checkbox .custom-control-input:checked .custom-control-label::before,
.custom-checkbox .custom-control-input:focus .custom-control-label::before,
.custom-checkbox .custom-control-input:active .custom-control-label::before,{
	outline: $white auto 0px !important;
	background-color: $gold !important;
}
.shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;
}
.custom-range::-webkit-slider-thumb {
	background: $gold !important;
}
.custom-range::-moz-range-thumb {
	background: $gold !important;
}
.streak.view {
	height: auto !important;
}
.pills-gold .nav-link.active, .pills-gold .show>.nav-link, .tabs-gold {
	background-color: $gold !important;
}
.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
	background-color: $gold !important;
}
ul.stepper li a {
	color: $grey !important;
}
ul.stepper li.active a {
	font-weight: bold;
	color: $elegant;
}