$lightgrey: #F9F7F7;
$grey: #777777;
$darkgrey: #999999;
$gold: #CD7126;
//$gold: #f57f17;
$lightgold: #D58747;
$white: #FFFFFF;
$black: #000000;
$elegant: #171717;
$dark: #333333;
$transparentlight: rgba(255,255,255,0.20);