@import "_variables";
@import "_mixin";
@import "_rebootstrap";
@import "_product";
@import "_product_listing";
@import "_header";
@import "_footer";
@import "_frontpage";
@import "_cookie";
@import "_blog";
@import "fa/fontawesome.scss";
@import "fa/solid.scss";
@import "fa/light.scss";
@import "fa/regular.scss";
@import "fa/brands.scss";
@import "_icomoon";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:checked~.custom-control-label::before,
.badge-primary {
	background-color: $gold !important;
}
.disabled,
label.disabled {
	pointer-events: auto !important;
	cursor: not-allowed !important;
}
.url {
	cursor: pointer;
}
.bg-primary, a.bg-primary {
	background-color: $gold !important;
}
.bg-primary, .bg-primary a {
	color: $white !important;
}
.bg-secondary, a.bg-secondary {
	background-color: $dark !important;
	color: $white;
}
.bg-secondary, .bg-secondary a {
	color: $white;
}
.bg-primary .md-form input,
.bg-secondary .md-form input {
	border-bottom-color: $white;
}
.bg-primary .md-form label,
.bg-secondary .md-form label {
	color: $white !important;
}
.bg-elegant {
	background-color: $elegant;
}
.openbutton:hover {
	background: $elegant;
	color: $white;
	text-decoration: none;
	opacity: .5;
}
.openbutton .fa {
	opacity: 1;
}
.cursor-pointer {
	cursor: pointer;
}
.visible-onhover p {
	opacity: 0;
}
.visible-onhover:hover p {
	opacity: .8;
	color: $white;
	background: $black;
}
.active-primary input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid $gold;
box-shadow: 0 1px 0 0 $gold;
}
.active-primary label.active {
	color: $gold !important;
}
.active-secondary input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid $dark;
box-shadow: 0 1px 0 0 $dark;
}
.active-secondary label.active {
	color: $dark !important;
}
.bg-secondary, .bg-primary {
	.form-check-input[type=checkbox]+label:before,
	.form-check-input[type=checkbox]:not(.filled-in)+label:after,
	label.btn input[type=checkbox]+label:before,
	label.btn input[type=checkbox]:not(.filled-in)+label:after {
		border: 2px solid $white;
	}
	[type=checkbox]:checked + .form-check-label:before {
		border-left: 2px solid transparent;
		border-top: 2px solid transparent;
		border-right: 2px solid $white;
		border-bottom: 2px solid $white;
	}
}
.bg-subscribe {
	[type=checkbox]:checked + .form-check-label:before {
		border-right: 2px solid $white !important;
		border-bottom: 2px solid $white !important;
		border-left: 0px solid $gold !important;
		border-top: 0px solid $gold !important;
	}
	.form-check-label a {
		color: $white !important;
		text-decoration: underline;
	}
}
.fcl-except [type=checkbox]:checked + .form-check-label:before {
	border-right: 2px solid $gold !important;
	border-bottom: 2px solid $gold !important;
	border-left: 0px solid $gold !important;
	border-top: 0px solid $gold !important;
}
/*
	JavaScripthez szükséges extra 
*/
.hidden {
	display: none;
}
.show {
	display: block;
}
.noverflow {
	overflow: hidden;
}
.xoverflow {
	overflow-x: auto !important;
}
.w-20 {
	width: 20%!important;
}
.social-rounded {
	display: inline-block !important;
	font-size: .9rem !important;
	width: 1.6rem !important;
	height: 1.6rem !important;
	line-height: 1.6rem !important;
	padding-left: 0px !important;
	transition: .5s ease;
	i {
		display: inline;
		transition: .5s ease;
	}
}
.social-rounded:hover {
	i {
		color: $gold;
	}
}
/* Általános formázások */

::-webkit-scrollbar {
	width: .3rem;
}
::-webkit-scrollbar-track {
	background: $lightgrey; 
}
::-webkit-scrollbar-thumb {
	background: $grey; 
}
::-webkit-scrollbar-thumb:hover {
	background: $elegant; 
}
body {
max-width: 100vw;
overflow-x: hidden;
@include typo_base($dark);
}
a,
a:active,
a:hover,
a:visited {
	color: $gold;
}
.img-full {
	width: 100%;
	height: auto;
}
.title:after {
	content: "";
	display: block;
	height: 1px;
	width: 2rem;
	background-color: $gold;
	transition: .5s ease;
}
@media screen and (max-width: 992px) {
	.text-center .title:after,
	.text-center.title:after,
	.text-right .title:after {
		display: none;
		width: 0px;
	}
}

.title:hover:after {
	width: 4rem;
}
.title-center {
	text-align: center !important;
}
.title-center:after {
	content: "";
	display: block;
	height: 1px;
	width: 5rem;
	background-color: $gold;
	transition: .5s ease;
	margin: 0 auto;
}
.title-center:hover:after {
	width: 7rem;
}
