.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

#newsletter_popup {
            width: 700px;
            height: 324px;
}
.white-text,.btn.white-text{
	color: #fff !important;
}
.marginbottomfiftycent{
	margin-bottom: 50px;
}
.marginbottom10px{
	margin-bottom: 10px;
}
.paddingbottomfiftycent{
	padding-bottom: 50px;
}
.paddingtop30{
	padding-top: 30px;
}
.padding-right-50{
	padding-right: 50px;
}
.nomarginbottom{
	margin-bottom: 0px !important;
}
.actions-toolbar{
	max-height: 10px;
}
.actions-toolbar small{
	display: none;
	padding:0px;
	line-height: 12px;
	margin:0px;
	padding-right: 50px;
	padding-top: 5px;
	color: #f35c5c;
}
.page-title-wrapper.product.related-title{
	color: #555;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    line-height: 1;
    min-height: 43px !important;
}
.item-actions:hover .actions-toolbar small{
	display: block;
}
.empty-cell{
	width: 400px;
	text-align: right !important;
}
.paddingbottom15{
	padding-bottom: 15px;
}
.pos-relative{
	position: relative !important;
}
.width-100percent{
	width: 100% !important;
}
#comment{
	resize: none;
}
.margin-top2{
	margin-top: 2px;
}
.customerreview-title{
	margin:0 0 10px;
}
.footer-bottom .logo img{
	/* width: 115px; */
}
.min-height{
	min-height: 500px;
}
.header.content strong.logo{
	top: -2px;
}

.slidercontainer{
	padding: 35px 0px;
}
#home-informations .owl-controls{
	top: -71px;
}
#home-informations .info-container{
	margin:0 -4px;
}
#home-informations .item{
	padding:0;
}
#home-informations .item p{
	position:absolute;width:100%;bottom:13px;text-align:center;
}
#home-informations .item span{
 background-color:#2c3232;font-size:20.28px;color:#fff;font-weight:800;line-height:37px;display:inline-block;padding:0 10px;width:100%
}

.itempaddingtop{
	padding-top:10px;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{
	background: none !important;
}
.fancybox-close{
	top: -4px !important;
	right: -11px !important;
}
.form-control{
	border-radius: 0px;
}
.upper{
	text-transform: uppercase !important;
}
.ui-menu-item i.fa-sort-desc{
	top:-2px;
	position: relative;
}
.login-email{
	background-image: url(&quot;undefined&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;
}
.login-pass{
	background-image: url(&quot;undefined&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;
}
#store_map,#store_map2,#store_map3,#store_map4{
	min-height: 300px; width: 100%; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;
}
.menu-top-product{
	margin: 0 10px; padding: 10px 0 15px; border-bottom: 1px solid #eee; width: 63%; color: #000;
}
.menu-top-product store{
	text-transform: uppercase;
	margin-right: 10px;
}
.menu-top-product a {
	margin-right: 5px; color: #000;
}
#banner-slider-demo-11 .slide-1{
position: absolute; bottom: 27%; width:100%;
}
#banner-slider-demo-11 .slide-1 .container{
text-align: left;
}
#banner-slider-demo-11 .slide-1 .container .text-content{
	display: inline-block; margin-left: 6%;
}
#banner-slider-demo-11 .slide-1 .container .text-content em{
	font-style: normal; text-align: left; display: block; color: #2c3232;font-weight:600;
}
#banner-slider-demo-11 .slide-1 .container .text-content h2,#banner-slider-demo-11 .slide-1 .container .text-content h1{
	color: #2c3232; line-height: 1;font-weight:800;margin:0;
}
#banner-slider-demo-11 .slide-1 .container .text-content span{
	color: #2c3232; vertical-align: top; font-weight: 300;
}

#banner-slider-demo-11 .slide-1 .container .text-content a.btn{
	background-color: #CD7126; color: #fff; vertical-align: top; font-weight: 600;
}
.category-banner .content{
	position: absolute; z-index: 1; top: 50%; width: 100%; text-align: center;
}
.category-banner .content h2,.category-banner .content p{
	color: #fff; font-weight: 600;
}
.products-grid .product-item.nth-child-2np1{
	float: left !important;
	clear: none;
}
ol li.product-item{
	min-height: 460px;

	position: relative;
}
ol li.product-item .fb-likers{
	position: absolute;
	background: #fff;
	width: 100%;
	left: 0px;
	bottom: -100px;
	height: 100px;
	display: none;
	z-index: 10;
box-shadow: 0 4px 2px -2px gray;
}
ol li.product-item:hover .fb-likers{
	/*display: block;*/
}
.old-price{
	display: block;
	text-align: center;
}
.image-option{
	display: inline-block;
	margin: 1px;
	cursor: pointer;
	width: 40px;
	position: relative;
}
.extra-price-container{
	position: relative;
}
.image-option.extra-price::before,.extra-price-container.extra-price::before{
	background: url(../images/extra_price.png) no-repeat right top;
	width: 17px;
	height: 17px;
	position: absolute;
	top:0px;
	right: 0px;
	z-index: 1;
	content: " ";
}

.image-option-big{
	background: #CD7126 none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    font-size: 23px;
    height: 40px;
    line-height: 41px;
    margin: 0;
    position: relative;
    top: -4px;
    width: 40px;

}
.image-option-big i{
	color: #fff;
}
.image-option img{
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 0px;
}
.image-option img.last{
	position: relative;
	top: -1px;
}
.filter-div{
	width: 40px;
	height: 20px;
	float: left;
	margin-bottom: 4px;
	cursor: pointer;
}
.filter-image{
	margin: 1px !important;
}
.filter-all{
	color: #CD7126 !important;
	cursor: pointer !important;
	padding-top: 5px;
}
.ui-slider-handle{
	background: #CD7126;
}
.filter-options-title::after{
	display: none;
}
.actions-primary .action.tocart{
	line-height: 35px;
}
.change-image{
	min-height: 25px;
}
.menu-right-block{
	position: relative; text-align: center;
}
.menu-right-block img{
	margin-top: 20px;
}
.menu-right-block .div-container{
	position: absolute; top: -35px; left: -15px; text-align: left;
}
.menu-right-block .div-container h2{
	font-size: 23px; font-weight: 600; color: #fff; background-color: #2e2e2e; line-height: 1; padding: 6px 50px 6px 8px; margin: 0 0 10px;
}
.menu-right-block .div-container .btn{
	padding: 5px 7px 5px 15px; color: #fff; border: 0; font-size: 13px;
}
.menu-right-block .highlight-desc{
position: absolute; bottom: 8px; width: 100%; text-align: center; left: 5px; padding: 4px 10px; font-size: 13px;
background-color:rgba(0, 0, 0, 0.5);
color:#fff;
}
#fashion-category-banner{
	min-height: 100px;
}
#fashion-category-banner{
	height: 335px;
}
.collage div.col{
	min-height: 305px;
	padding-left: 2.5px;
	padding-right: 2.5px;


}
.collage div.col.min{
	min-height: 150px;
	padding-bottom: 5px;
}
.collage div.col .collage-item{
	width: 100%;
	min-height: 305px;
	background-size: 100% auto;
  background-position: center top;
	background-repeat: no-repeat;
}
.collage div.col .collage-item.toptoheight{
	background-size: auto 100%;
}
.collage div.col.min .collage-item{
	min-height: 150px;
}

.nav-tabs .data.item.title{

  	margin-right: 1px;
  	color:#c1c1c1;

}
.nav-tabs{
	position: relative;
	top:-1px;
}
.nav-tabs .data.item.title a{
	border: 1px solid #eeeeee;
	background: #f6f6f6;
	padding: 7px 15px;
	border-radius: 0px !important;
	border-top: 3px solid #eeeeee;

}
.nav-tabs .data.item.title.active a{
	background: #fff !important;
	color:#CD7126;
	border-bottom: 1px solid #fff;
	border-top: 3px solid #CD7126;
}
.nav-tabs .data.item.title:hover a{
	background: #fff !important;
	border-bottom: 1px solid #fff;
}
.nav-tabs .data.item.title a{
	color:#c1c1c1;
}
.tab-pane{
	padding: 35px;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
border-right: 1px solid #eeeeee;

}
.tab-pane{
	line-height: 22px;
}
.parallax-wrapper{
	margin: 50px 0;
}
.parallax-wrapper .overlay{
	background-color: #000000; opacity: 0.75; filter: alpha(opacity=75);
}
.parallax-wrapper .parallax-slider{
	position: relative; z-index: 3;
}
.parallax-wrapper .parallax-slider h2{
	font-weight:600;
}
.parallax-wrapper .parallax-slider p,.parallax-wrapper .parallax-slider 0{
font-weight:300;
}
.single-images{
	padding-bottom:25px;
}
.single-images .row{
	margin-left:-10px;margin-right:-10px;
}
.single-images .col-sm-3{
	padding-left:10px;padding-right:10px;padding-top:20px;
}
.top-product-item{
	position:relative;
}
.grid1.top-product-item .content{
	position:absolute;right:15%;bottom:14%;text-align:right;
}
.grid1.top-product-item h2{
	font-weight:800;font-style:italic;color:#fff;margin-bottom:0;
}
.grid1.top-product-item p{
	font-weight:300;color:#fff;
}
.grid1.top-product-item a{
	padding-right: 12px !important;
}


.grid2.top-product-item .content{
	position:absolute;right:10%;top:5%;text-align:right;
}
.grid2.top-product-item h3{
	font-weight:400;color:#121213;
}
.grid2.top-product-item h2{
	font-weight:800;color:#121213;margin-bottom:10px;
}
.grid2.top-product-item a{
	padding-right: 12px !important;
}



.grid3.top-product-item .content{
	position:absolute;right:11.55%;top:25%;text-align:right;
}
.grid3.top-product-item .p1{
	font-weight:300;color:#313131;
}
.grid3.top-product-item .p2{
	font-weight:700;color:#313131;
}
.grid3.top-product-item h3{
	font-weight:400;
}

.grid3.top-product-item a{
	padding-right: 12px !important;
}



.grid4.top-product-item .content{
	position:absolute;left:0;top:17%;text-align:center;width:100%;
}
.grid4.top-product-item h2{
	font-weight:300;color:#000;
}
.grid4.top-product-item h2 b{
	font-weight:600;font-style:italic;
}
.grid4.top-product-item p{
	font-weight:300;color:#000;opacity:0.7;filter:alpha(opacity=70);font-style:italic;
}
.grid4.top-product-item a.btn{
	padding-right: 12px !important;
}
.product-info-main .product-info-price{
	margin-bottom: 5px;
	border-bottom: 0px !important;
}
.product-info-main .product-info-price .price-box{
	margin-bottom: 0px;
	padding-bottom: 0px;

}
.product-info-main .product-add-form{
	padding-bottom: 15px;
	padding-top: 10px;
	text-align: center;
}
.product-info-main .product-add-form .btn.tocart{
	margin-right: 0px !important;
}
.white-color{
	color: #fff !important;
}
.minicart-items .product-item-name{
	margin-bottom: 0px;
}
.minicart-items .qty-span{
	color:#777;
	font-size: 13px;
}
.minicart-items .product-item-photo{
	border: 0px !important;
	padding: 0px !important;
	border-radius: 0px;
	margin-top: 10px;
}
ol.minicart-items li.product-item{
	min-height: 100px;
}
#btn-minicart-close{
	position: relative;
	top: -15px;
	cursor: pointer;
}
.opc-progress-bar-item{
	width: 33%;
}
.cart-container{
	min-height: 200px;
}
.cart-container .item-size{
	width: 18%;
	float:left;
}
.cart-container .item-size.half-size{
	width: 50%;
}
.cart-container .item-size.half-size img{
	max-width: 40px;
}
.cart-container label{
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}
.cart-container .product-item-photo{
	border-radius: 0px;
	border: none;

}
.products .product-item .product-item-photo{
	max-height: 258px;
	overflow: hidden;
}
.cart-container img{
	border-radius: 0px;
}
.cart-container .old-price{
	text-align: left;
}
.cart-container .cart-price .newprice .price{
	font-weight: bold;
	color:#444;
	font-size: 2rem;
}
.opc-progress-bar-item._active::before,.opc-progress-bar-item._active > span::before{
	background: #CD7126;
}
.cart-container .product-title{
	display: block;
	margin-bottom: 0.5rem;
	color:#CD7126;
}
.fix-height-footer{
	text-align: right;
	line-height: 2.5rem;
}
.fix-height-footer-left{
	text-align: left;
	line-height: 2.5rem;
}
.cart-container .product-cart-row{
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #CD7126;


}
.cart-container .input-number{
	text-align: center;
	height: 34px;
}
.cart-container .input-group{
	margin-top: 21px;

}
.cart-container .couponcode{

}
/* do not group these rules */
.cart-container .couponcode::-webkit-input-placeholder {
    color: #000;
}
.cart-container .couponcode:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
.cart-container .couponcode::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
.cart-container .couponcode:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}


.cart-container .fix-height{
	height: 100px;
}
.btn.btn-big{
	font-size: 2rem;
}
.btn.btn-gray{
	background-color: transparent;
    border: 1px solid #ccc;
    color: #777;
    text-shadow: none;

   ;
}
.cart-qty{
	width: 30px !important;
}
.nopaddingleft{
	padding-left: 0px;
}
.nopaddingright{
	padding-right: 0px;
}
.nopadding{
	padding: 0px;
}
.cart-summary .checkout-methods-items .action.primary.checkout{
	padding-top: 11px;
}
.opc-wrapper .block-dashboard-info{
	margin-top: 45px;
}
.opc-wrapper .box-title{
	display: block;
	width: 100%;
	border-radius: 7px 7px 0 0 !important;
}
.opc-wrapper .box-content{
	margin-bottom: 2rem;
	border-radius: 0px 0px 7px 7px !important;
}
.addressGroup div{
	margin: 0px;
	padding: 0px;
}
.addressGroup select{
	height: 38px;
}
.margin-bottom-rem{
	margin-bottom: 0.5rem;
}
.form-group .textileSelect{
	height: 34px;
	border-color: #CD7126;
	background: #CD7126;
	color: #fff;
}
.textileslider img{
	padding:0px;
	border: none !important;
}
.product-sizes{
	font-size: 1.5rem;
	text-align: left;
}
.product-sizes .row{
	padding: 0px;
	margin:0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
	margin-top: 0rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transition: background 0.2s ease-in-out;

}

.product-sizes .row.active,.product-sizes .row.size:hover,.change-mounting.active,.change-mounting:hover{
	color: #fff !important;
	background-color:rgba(205, 113, 38, 0.8);
}
.change-mounting-parent{
	padding: 0px !important;
}
.change-mounting{
	padding: 0px;
	margin: 0px;
}

.product-sizes .row.active,.product-sizes .row.size:hover,.change-seat.active,.change-seat:hover{
	color: #fff !important;
	background-color:rgba(205, 113, 38, 0.8);
}
.change-seat-parent{
	padding: 0px !important;
}
.change-seat{
	padding: 0px;
	margin: 0px;
}


.product-sizes .price-wrapper .price,.filter-options-item .price{
	 color: #444;
    font-size: 1.7rem;
    font-weight: bold;
}
.old2-price,.filter-options-item .old-price{
	 text-decoration: line-through !important;
	 color: #999 !important;
   font-size: 1.0rem;
   font-style: normal;

}
.product-sizes span.size{
	color: #999 !important;
   font-size: 1.0rem;

}
.product-sizes .row.active .old2-price,
.product-sizes .row:hover .old2-price,
.product-sizes .row:hover span.size,
.product-sizes .row.active span.size
{
	color: #fff !important;
}

.page-main #opc-sidebar .block{
	margin-bottom: 0px;
}
.opc-block-summary .items-in-cart > .title::after{
	display: none;
}
td.padding5{
	padding: 5px;
}
#changeTextile .input-group-addon.v1,
#changed-textile-target .input-group-addon.v1{
border-radius: 0; padding: 2px; width: 10%;
height: 20px;
overflow: hidden !important;
}
#changeTextile .input-group-addon.v1 img,
changed-textile-target .input-group-addon.v1 img
{
	width: 100%;
	height: 20px;
}
#filter-lining{
	width: 100%;
}
body .btn.btn-filter{
	background: #777;
}
body .btn.btn-filter.active{
	background: #CD7126 !important;
}
.sidebar-highlighted img{
	width: 100%;
}
.item-highlighted .product-item-photo{
	border: 1px solid #cd7126;
	background: #cd7126;
}
.switch-carousel{
	cursor: pointer;
	position: relative;

}
.switch-carousel.active{
	color: #CD7126 !important;
}
.filterproducts .product-item{
	cursor: pointer !important;
}
#big_map{
	width: 100%;
	height: 500px;
	position: relative;
}
.submenuleft{
	left: -9999px; right: auto;
}
.border-top0{
	border-top:0px;
}
.old-price-custom1{
	float: left; padding-right: 10px;
}
.special-price-custom1{
	float: left;
}
.overflowhidden{
	overflow: hidden;
}
.cart-item-last td{
	border-bottom: 1px solid #ccc !important;
}
.item.carousel-bella-item{
	background-repeat:no-repeat !important;
background-size:contain !important;
background-position:center !important;
}
.slider-max-height-overflow{
	max-height: 50px;
	overflow: hidden;
}
.owl-item .slider-max-height-overflow{
	max-height: 70px;
	overflow: hidden;
}
.category-filter div{
	margin-bottom: 0.5rem;
}
.category-filter div span{
	padding: 0.5rem 0.5rem;

	cursor: pointer;
}
.category-filter div span:hover,.category-filter div.active span{
	background: #cd7126;
	color:#fff;
}
.paginator-container li a{
	color:#cd7126 !important;
}
.paginator-container .active{
	border-color: #cd7126;
}
.paginator-container .active span,.paginator-container .active:hover span{
	background: #cd7126;
	border-color: #cd7126;

}
select option[disabled] { color: #eeeeee;}

.product.data.items .item.title.active a::after,.product.data.items .item.title a::after{
	display: none;
}
#builder-form-controller{
	background-image: url(/images/builder.png); background-repeat:no-repeat;
	border: 1px solid #eee;background-size:cover;

background-position:center; width: 100%; height: 300px; position: relative; overflow: hidden
}
#builder-form-start{
	display: table; top: 40%; width: 200px; position: relative; margin: 0 auto;
}
#goto-builder{
	width: 100%; height: 100%; position: absolute; top:100%; background-color:rgba(0, 0, 0, 0.3); padding: 10px;
}
#goto-builder b{
	color:#fff;
}
.no-min-height{
	min-height: 1px !important;
}
#mobile-search{
	/*top: 40px !important;
	position: relative;*/
}
#mobile-search form{
	padding: 0px 30px;
}


.related-row{
	padding: 0px;
	margin:0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
	margin-top: 0rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color:#e1e1e1;
	margin: 0px 15px 0 15px;
	display: none;
}

.related-row.active{
	color: #000;
	display: block;
}
#filter-openlink{
	cursor: pointer;
}
.copy-personal{
	color:#cd7126;
	cursor: pointer;
}
/*
.product-sizes .row.active,.product-sizes .row.size:hover,.change-mounting.active,.change-mounting:hover{
	color: #fff !important;
	background-color:rgba(205, 113, 38, 0.8);
}
*/

body .align-right{
	text-align: right;
}
body .special-price.align-left{
	text-align: left;
	display: block;
}
body .sw-megamenu.navigation .subchildmenu.mega-columns.columns3 > li:nth-child(3n+1){
	clear: none;
}
body .sw-megamenu.navigation .subchildmenu.mega-columns.columns3 > li{
	width: 25%;
}
.cursor-pointer{
	cursor: pointer;
}
.btn.gray {
    background: gray none repeat scroll 0 0 !important;
    border-color: gray !important;
}
#helpImageData_{
	position: fixed;
	left: 0px;
	top:0px;
	z-index: 1000;
	padding: 10px;
	background: #2c3232;

}
#helpImgDataOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #2c3232;
	opacity: 0.6;
	display: none;
	left:0px;
	top:0px;
	z-index: 999;
}
#store-slider-container{
	position: relative;
}
#store-slider-container .stores-stab{
	position: absolute;
	width: 30%;
	height: 100%;
	z-index: 2;
	border-right: 1px solid #fff;
	background-color:rgba(0, 0, 0, 0.8);
	text-align: center;
	display: table;
	opacity: 0.7;

}
#store-slider-container .stores-stab div{
	width: 100%;
	display: table-row;

	color: #fff;
	font-size: 24px;
	height: 100px;
	cursor: pointer;

}
#store-slider-container .stores-stab div.active,
#store-slider-container .stores-stab div:hover{
	opacity: 1;
	background: #cd7126;
}
.store-details{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color:rgba(255, 255, 255, 0.8);
	color:#000;
	font-size: 20px;
	padding: 10px;
}
@media screen and (min-width: 770px) {
	.mobile-view{
		display: none;
	}
}
@media screen and (max-width: 770px) {
	.mobile-view{
		display: block;
	}
	#helpImageData_{
		max-width: 300px;
	}
	.desktop-view{
		display: none !important;
	}
	.store-details{
		width: 100%;
		left:0px;
		bottom: 0px;
		text-align: center;
	}
	.columns .sidebar-main{
		order: -1;

	}
	body .sw-megamenu.navigation .subchildmenu.mega-columns.columns3 > li{
		width: 100%;
	}
	.filter-options-item{
		display: none;
	}
	#shopping-cart-table .product-item-photo{
		display: block;
		position: relative;
		max-width: 600px;
		left: 0px;
	}
	#shopping-cart-table .empty-cell .price-excluding-tax{
		word-wrap: break-word;
		max-width: 200px;
		display: block;
		position: relative;
		top: 45px;
	}
	#subscribe-footer .control{
		margin-bottom: 5px;
	}
	.mobil-margin-bottom{
		clear: both;
    display: block;
    float: none;
    height: 42px;
    margin-bottom: 5px !important;
    width: 100% !important;

	}
	#cart-right-sidebar{
		position: relative !important;
		left:0px !important;
		top:0px !important;
		visibility: visible;
	}
	#cart-right-sidebar .modal-inner-wrap{
		transform: none;
	}
	.ui-slider-horizontal{
		 border-radius: 3px;
    height: 30px;
	}
	.ui-slider-handle{
		height: 30px;
		width: 30px;
		border-radius: 3px;
		-ms-touch-action: none;
		touch-action: none;
	}
	.filter-options-content{
		padding-right: 30px;
	}
	.menu-icon{
		font-size: 26px;
	}
	.related-container{
		display: none;
	}
	.detailed-container{
		display: flex;
		flex-flow: row wrap;
	}
	.mobile-product-page-bottom{
		order:2;
	}
	.mobile-product-page-top{
		order:1;
		margin-bottom: 2rem;
	}
	.navigation .parent .level-top:after{
		    right: 23px !important;
	}
	.products-grid .product-item{
		width: 100%;
	}
	body .align-right{
		text-align: center;
	}
	body .special-price.align-left{
		text-align: center;
		display: block;
	}


}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

#other-sizes .row{
	padding: 0px;
}
body div#other-sizes .row:hover span{
	color:#999 !important;
}
body div#other-sizes div.clicked{
	transition: background 0.2s ease-in-out;
	cursor: pointer;
}
#other-sizes .row div.clicked.active,#other-sizes .row div.clicked:hover{
	background-color: rgba(205, 113, 38, 0.8);
	 color: #fff !important;
}
body #other-sizes .row div.clicked.active span,body #other-sizes .row div.clicked:hover span{
	 color: #fff !important;
}
body .price.normal-size{
	font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
	.stores-stab div{
		font-size: 14px !important;

	}
	.store-details{
		font-size: 14px !important;
	}
}

hr{
	width: 100%; color: black; height: 1px; background-color:#c3c3c3;
}

.single-image small{
	display: block;
	font-size: 12px;
}
#kapcsolodotermekek .small-item .related-prod-image {
	overflow: hidden;
	display: block;
}
#kapcsolodotermekek .col-sm-4.small-item {
	min-height: 260px;
}
#kapcsolodotermekek .small-item .filter-options-title {
	 height: 58px;
    line-height: 15px;
    overflow: hidden;
    padding-top: 6px;
}
.color-white {
	color: #fff !important;
}

.category-filter-new {
	float: left;
}
.category-filter-new h4 {
	font-weight: bold;
	color: #000;
	font-size: 14px;

}
.category-filter-new div.item {
	padding:0;
}

.filter-type {

}
.textileslider-new .filterproduct-title {
	background: none;
}
.textileslider-new hr {
	margin-top: 0;
}
.category-filter-new.filter-cat {
	margin-left: 50px;
	width: 40%;
}
.category-filter-new.filter-type {
	margin-left: 20px;
	width: 20%;
}
.category-filter-new.filter-subtype {
	margin-left: 20px;
	width: 30%;
}
.relative {
	position: relative !important;
}
.texttile-change-container-main .sidebar-additional {
	width: 100%;
}

.texttile-change-container-main #textile-preview-container {
	width: 100%;
}
.btn.inprogress {
    border-color: #CD7126 !important;
    background: #CD7126 !important;
    opacity: 0.7;
}
img.thTextile {max-width:80px;height:26px;}